# Auto detect text files and perform LF normalization
* text=auto
cdf0d9f7b183c6758ce994c5d848686eda8576 filter=lfs diff=lfs merge=lfs -text
d2a0561f27866121a66d6d6bfc2b2f0106d696 filter=lfs diff=lfs merge=lfs -text
eadd8c6373c6054585bcd1382af5eb45a9eea3 filter=lfs diff=lfs merge=lfs -text
429759fc4eb41b846a06e634c0c026c05e00b6 filter=lfs diff=lfs merge=lfs -text
2fdee6b6a1ad822bfb042d371c8ce23a93e84d filter=lfs diff=lfs merge=lfs -text
941c3103110185d18dd4a5d0a2af9a733e9ff4 filter=lfs diff=lfs merge=lfs -text
73efe63636926ffb5c92c7001ac41542ed796b filter=lfs diff=lfs merge=lfs -text
04644745bffe46242f730be85885720452dc9e filter=lfs diff=lfs merge=lfs -text
ec6ec02a475e5fa053881b9a952e7c74b86b4e filter=lfs diff=lfs merge=lfs -text
dcd3c1b07754ec997be2876be921688dbeece6 filter=lfs diff=lfs merge=lfs -text
aec485c867ada0a755539002ffee49e9749f71 filter=lfs diff=lfs merge=lfs -text
148495d677e0e3cb9ba64685480b57f0acc1de filter=lfs diff=lfs merge=lfs -text
7985d458a19cb39bd8409675498c73941a8230 filter=lfs diff=lfs merge=lfs -text
1f1be2be8b79efc8aad0b6027693697c73cc55 filter=lfs diff=lfs merge=lfs -text
c06afc7dfd71de0b8f4faa06d503394ee01526 filter=lfs diff=lfs merge=lfs -text
0fac7a74c736c5069fe049bfe1e69cd1934cf3 filter=lfs diff=lfs merge=lfs -text
fcadf2e4549483860574272ff5ecd9d84e21a9 filter=lfs diff=lfs merge=lfs -text
a98521459e68374bdc89d5a195d11e37959263 filter=lfs diff=lfs merge=lfs -text
92b1a345ffa063d5730c24116db1c32191758b filter=lfs diff=lfs merge=lfs -text
d7fd5a74e7f2abd0b6d9ea086e66bb531e8986 filter=lfs diff=lfs merge=lfs -text
f65fdcbd273596a5dd0ef6d3e7a92679746481 filter=lfs diff=lfs merge=lfs -text
83caa07b05e9806c91f438fa2a76ee9e030a24 filter=lfs diff=lfs merge=lfs -text
997c34029f0e915bd5f93cd30a83e89536c293 filter=lfs diff=lfs merge=lfs -text
76bc23608cdd7fa415321b88247990fb757d03 filter=lfs diff=lfs merge=lfs -text
99910ad1c41ff22a5f2e2587d144331513059e filter=lfs diff=lfs merge=lfs -text
5ea94b49bfb3b5215474a3ddd70fd944793059 filter=lfs diff=lfs merge=lfs -text
5bbb87bee669097c71d8710a950314d55a27d1 filter=lfs diff=lfs merge=lfs -text
92197cd0644e27e7b7721f28574013efb0c610 filter=lfs diff=lfs merge=lfs -text
0b3b161db6661a982de8b6264e4e3dc3f94671 filter=lfs diff=lfs merge=lfs -text
be4cf834ac8f765d36f5c1e5aca52a9a51a648 filter=lfs diff=lfs merge=lfs -text
T_Rocky_Sand_vd4pbdt_4K_D.uasset filter=lfs diff=lfs merge=lfs -text
T_Rocky_Sand_vd4pbdt_4K_N.uasset filter=lfs diff=lfs merge=lfs -text
T_RockySand_vd4pbdt_4K_ORDp.uasset filter=lfs diff=lfs merge=lfs -text
T_Rocky_Ground_vl0fdfho_4K_N.uasset filter=lfs diff=lfs merge=lfs -text
T_Rocky_Ground_vl0fdfho_4K_D.uasset filter=lfs diff=lfs merge=lfs -text
T_RockyGround_vl0fdfho_4K_ORDp.uasset filter=lfs diff=lfs merge=lfs -text
T_Gouged_Rock_Cliff_vlcsaem_4K_D.uasset filter=lfs diff=lfs merge=lfs -text
T_Gouged_Rock_Cliff_vlcsaem_4K_N.uasset filter=lfs diff=lfs merge=lfs -text
T_GougedRockCliff_vlcsaem_4K_ORDp.uasset filter=lfs diff=lfs merge=lfs -text
T_Beach_Cliff_wdeldbi_4K_D.uasset filter=lfs diff=lfs merge=lfs -text
T_Beach_Cliff_wdeldbi_4K_N.uasset filter=lfs diff=lfs merge=lfs -text
T_BeachCliff_wdeldbi_4K_ORDp.uasset filter=lfs diff=lfs merge=lfs -text
HDRI_Epic_Courtyard_Daylight.uasset filter=lfs diff=lfs merge=lfs -text
newmarina2_0_ALOBE_Woodground_014.uasset filter=lfs diff=lfs merge=lfs -text
SM_FluxPlane1024x1024.uasset filter=lfs diff=lfs merge=lfs -text
T_River_Rock_01_D_CC_R.uasset filter=lfs diff=lfs merge=lfs -text
final_marina_Woodground_045.uasset filter=lfs diff=lfs merge=lfs -text
Ocean.umap filter=lfs diff=lfs merge=lfs -text
Ocean_Auto5.umap filter=lfs diff=lfs merge=lfs -text
Ocean_Auto4.umap filter=lfs diff=lfs merge=lfs -text
Ocean_Auto3.umap filter=lfs diff=lfs merge=lfs -text
Ocean_Auto2.umap filter=lfs diff=lfs merge=lfs -text
Ocean_Auto1.umap filter=lfs diff=lfs merge=lfs -text
Ocean_Auto6.umap filter=lfs diff=lfs merge=lfs -text
